{% extends 'partials/base.html.twig' %}
{% set pages = page.collection({'items':'@self.children', 'pagination': true, 'limit': 10, 'order': {'by': 'date', 'dir': 'asc'}}) %}
{% block content %}
  

<div class="lc-section-category">
 <section class="hero hero-bg is-primary">
    <div class="category-top">
       <div class="is-inline-block">
       <p class="title gradient-yellow">{{ header.taxonomy.category[0] }}:</p>
    </div>
       <div class="is-inline-block">
       <p class="text">Lorem Khaled Ipsum is a major key to success. They don’t want us to eat.</p>
    </div>
    </div>
 </section>
 <section class="section">
    <div class="container">



       <div class="columns is-centered">
          <div class="column is-one-half">
        
             <figure class="feature-image image is-16by9">

              <img src="{{ base_url_relative }}/{{ pages|first.header.personHeadshot|first.path }}">
               <!--  <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"> -->
             </figure>
             <div class="feature-abt">
                <p class="feature-name">{{ pages|first.header.person }}</p>
                {% set break = false %}
                 {% for p in pages|first.header.list if not break %}
                        {% set item = p.fieldselection %}
                        {% if item.selection == 'paragraph' %}
                             <p class="feature-text">{{ item.paragraph|truncate(175) }}</p>
                              {% set break = true %}
                        {% endif %}
                  {% endfor %}
                <p class="feature-text">{{ pages|first.header.list.fieldselection.first }}</p>
                <a href="{{pages|first.url}}" class="more">Read More</a>
             </div>
          </div>
          <div class="column is-one-half why-relevant">
                <p class="title__lower gradient-yellow is-5">why is this relevant?</p>
                <br>
                <br>
                     {{ header.relevantText|markdown}}

          </div>
       </div>
       <div class="columns">
          <div class="column is-6 is-offset-3">
            
          </div>
       </div>
     </div>
       <!-- <div class="columns is-centered is-vcentered">
          <div class="column is-half">
             <blockquote>Obama says that culture is very important.</blockquote>
          </div>
       </div> -->

    
 </section>

  <section class="hero about-words">
       <div class="container">
          <p class="subtitle is-4 gradient-blue is-inline-block">why {{ header.taxonomy.category[0] }}: is important:</p><span class="side is-inline-block">words from the team</span>
 
       <div class="columns">
        <div class="column is-one-third">
          <figure class="image shadow is-16by9">
            <img src="{{ base_url_relative }}/{{ header.categoryImg|first.path }}">
         </figure>
        </div>
        <div class="column is-two-thirds">
          {% for q in header.quote %}
                <div class="testimonial-quote group">
                   <div class="quote-container">
                      <blockquote>
                         <p>{{ q.qquote }}</p>
                      </blockquote>
                      <cite><span>{{ q.qsource }}</span><br>{{ q.qcreds }}
                      </cite>
                   </div>
                </div>
          {% endfor %}

        </div>
       
       </div>
      
             </div>
    </section>
    <section class="recent-convos">
       <div class="container">
          <div class="outer">
          <h1 class="title has-text-centered gradient-yb">recent conversations in {{ header.taxonomy.category[0] }}:</h1>
       </div>

  <div class="columns">
  <!-- BEGIN -->
  {% for page in pages %}
     <div class="column is-one-third">
         <div class="recent-card card">
           <div class="card-image has-shadow">
              <figure class="image is-2by1">
                 <img src="{{ base_url_relative }}/{{ page.header.videoThumbnail|first.path }}">
                 <a class="vid-button" href="{{ page.url }}"><i class="fas fa-play"></i></a>
              </figure>
              
           </div>
           <div class="card-content">
            <div class="">
              <p class="title-name has-text-left is-inline-block ">88. {{ page.header.person }}</p>
              <span class="timestamp is-pulled-right is-inline-block">11:21</span>
            </div>
              <p class="title is-6">{{ page.header.tagline }}</p>
               {% set break = false %}
                 {% for p in pages|first.header.list if not break %}
                        {% set item = p.fieldselection %}
                        {% if item.selection == 'paragraph' %}
                               <p class="card-desc">{{ item.paragraph|truncate(140) }}</p>
                              {% set break = true %}
                        {% endif %}
                  {% endfor %}

           
           </div>
        </div>
      </div>
  {% endfor %}
  <!-- END -->
  </div>

      <!--  START ROW -->
             <div class="columns">
                <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
       <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
       <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
             </div>
    <!-- END ROW -->
                                  <div class="columns">
                <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
       <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
       <div class="column is-one-third">
        <!-- start vid-->
          <div class="recent-card card">
             <div class="card-image has-shadow">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                   <a class="vid-button" href=""><i class="fas fa-play"></i></a>
                </figure>
                
             </div>
             <div class="card-content">
              <div class="">
                <p class="title-name has-text-left is-inline-block ">88. Gertrude Stein</p>
                <span class="timestamp is-pulled-right is-inline-block">11:21</span>
              </div>
                <p class="title is-6">how to be a boss</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
             </div>
          </div>
        <!-- end vid -->
       </div>
             </div>
<div class="button-center">
  <div class="border transp-button">
    <a class=""><span>load more conversations</span></a>
  </div>
</div>
       </div>
    </section>
    <section class="hero is-primary popular-posts">
       <div class="container">
          <div class="has-text-centered">
       <p class="title gradient-yellow">Popular Posts</p>
    </div>
       
          <div class="columns">
                                  <div class="column is-one-third">
        <!-- start featured -->
          <div class="featured-card card">
             <div class="card-image">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                </figure>
                <div class="tease__post-type">
                   <a href="#">Culture</a>
                </div>
             </div>
             <div class="card-content">
                <p class="title is-5">84. John Smith</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                <div class="card-tags">
                   <a class="tag" href="#">#css</a>
                   <a class="tag" href="#">#responsive</a>
                   <a class="tag" href="#">#tech</a>
                </div>
             </div>
          </div>
          <!-- end featured -->
       </div>
                      <div class="column is-one-third">
        <!-- start featured -->
          <div class="featured-card card">
             <div class="card-image">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                </figure>
                <div class="tease__post-type">
                   <a href="#">Culture</a>
                </div>
             </div>
             <div class="card-content">
                <p class="title is-5">84. John Smith</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                <div class="card-tags">
                   <a class="tag" href="#">#css</a>
                   <a class="tag" href="#">#responsive</a>
                   <a class="tag" href="#">#tech</a>
                </div>
             </div>
          </div>
          <!-- end featured -->
       </div>
                      <div class="column is-one-third">
        <!-- start featured -->
          <div class="featured-card card">
             <div class="card-image">
                <figure class="image is-2by1">
                   <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Placeholder image">
                </figure>
                <div class="tease__post-type">
                   <a href="#">Culture</a>
                </div>
             </div>
             <div class="card-content">
                <p class="title is-5">84. John Smith</p>
                <p class="card-desc">Quis autem vel eum iure reprehendi qui in ea voluptate velit esse quam ni molestiae consequatur, vel illum quod maxime placeat.</p>
                <div class="card-tags">
                   <a class="tag" href="#">#css</a>
                   <a class="tag" href="#">#responsive</a>
                   <a class="tag" href="#">#tech</a>
                </div>
             </div>
          </div>
          <!-- end featured -->
       </div>
          </div>
       </div>
    </section>
{% endblock %}