      <div id="lc-section-nav">
        <div class="nav__top">
            <div class="container">
            <div class="recent is-pulled-left">
                <p>Most recent post:</p>
                <a href="#">Sally Jenkins</a>
            </div>
            <div class="socials is-pulled-right">
                <a href=""><i class="has-text-white fab fa-facebook-f"></i></a>
                <a href=""><i class="has-text-white fab fa-twitter"></i></a>
                <a href=""><i class="has-text-white fab fa-pinterest-p"></i></a>
                <a href=""><i class="has-text-white fab fa-linkedin-in"></i></a>
                <a href=""><i class="has-text-white far fa-envelope"></i></a>
            </div>
            </div>
        </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
         <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ base_url }}/">
          <img id="logo" src="{{ url('theme://images/logo.png') }}">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ base_url }}/about" class="navbar-item">About</a>
          <a href="{{ base_url }}/conversations" class="navbar-item">Conversations</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="{{ base_url }}/category/technology" class="navbar-link">Categories</a>
            <div class="navbar-dropdown">
               <a class="navbar-item">Tech</a>
               <a class="navbar-item">Gender</a>
               <a class="navbar-item">Race</a>
          
            </div>
          </div>
            <a href="{{ base_url }}/contact" class="navbar-item">Contact</a>
            <a href="{{ base_url }}/involved" class="navbar-item">Get Involved</a>
        </div>

        <div class="navbar-end">
        </div>
      </div>
    </div>
</nav>

</div>

<!-- MACRO CODE -->

{# {% macro loop(page) %}

 <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">

     {{ config.site.title }}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="has-children {{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul>
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>
#}

